
body{
    background-size: cover;
    background-color:blue;
    align-content: center;
    align-items: center;
    height: 95vh;
}
.container{
    align-content: center;
    align-items: center;
}

#tic{  
    margin-top: 2vh;
    margin-left: 80vh;
}

.btn{
    border: solid black 1vh;
    width: 19vh;
    height: 19vh;
    background-color:burlywood;
    margin-left: -3px;
    margin: -2px;
    margin-top: -3px;
    font-size: 15vh;
    color:brown;
}
#firstRow .btn{
    border-top: 0vh;
}

#lastRow .btn{
    border-bottom: 0vh;
    position:fixed;
}

#heading{
    margin-top: 1vh;
    margin-left: 87vh;
    font-family: "Sofia", sans-serif;
    font-size: 9vh;
    color: wheat;
}

#start{
    font-family: "Sofia", sans-serif;
    font-size: 3vh;
    margin-left: 98vh;
    margin-top: 23vh;
    font-weight: 900;
    position: fixed;
}

#start:hover{
    font-family: "Sofia", sans-serif;
    font-size: 3vh;
    margin-left: 98vh;
    margin-top: 23vh;
    font-weight: 900;
    position: fixed;
    color:orange;
}

#start:active{
    font-family: "Sofia", sans-serif;
    font-size: 3vh;
    margin-top: 23vh;
    font-weight: 900;
    position: fixed;
    color:purple;
}

#gamestarted{
    color: white;
    margin-top: -7vh;
    margin-left: 93vh;
    position: fixed;
    font-size: 5vh;
}